<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/demo.css">
</head>

<body>
    <div class="demo01">
        <p>animate与CSS3实现旋转动画</p>
        <div class="desc">
            <div class="desc_box icon_1"></div>
            <div class="desc_box icon_2"></div>
            <div class="desc_box icon_3"></div>
            <div class="desc_box icon_4"></div>
        </div>
    </div>
    <div class="demo02">
        <p>纯CSS3实现视觉差动画效果</p>
        <div class="container">
            <div class="content">
                <div class="circle">
                    <div class="circle-title">
                        <h2>Great Outdoors</h2>
                        <h3>Get some fresh air</h3>
                    </div>
                    <div class="circle-inner">
                        <div class="circle-inner-layer"><img src="images/demo02-01.png"></div>
                        <div class="circle-inner-layer"><img src="images/demo02-02.png"></div>
                        <div class="circle-inner-layer"><img src="images/demo02-03.png"></div>
                    </div>
                    <div class="content-shadow"></div>
                </div>
            </div>
            <div class="content">
                <div class="circle">
                    <div class="circle-title">
                        <h2>City Breaks</h2>
                        <h3>Go somewhere new</h3>
                    </div>
                    <div class="circle-inner">
                        <div class="circle-inner-layer"><img src="images/demo02-04.png"></div>
                        <div class="circle-inner-layer"><img src="images/demo02-05.png"></div>
                        <div class="circle-inner-layer"><img src="images/demo02-06.png"></div>
                    </div>
                    <div class="content-shadow"></div>
                </div>
            </div>
            <div class="content">
                <div class="circle">
                    <div class="circle-title">
                        <h2>Cheap Flights</h2>
                        <h3>Come fly with me</h3>
                    </div>
                    <div class="circle-inner">
                        <div class="circle-inner-layer"><img src="images/demo02-07.png"></div>
                        <div class="circle-inner-layer"><img src="images/demo02-08.png"></div>
                        <div class="circle-inner-layer"><img src="images/demo02-09.png"></div>
                    </div>
                    <div class="content-shadow"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="demo03">
        <p>按钮效果</p>
        <div class="container">
            <div class="content">
                <div class="btn01" data-text="button01">
                    <span>button01</span>
                </div>
            </div>
            <div class="content">
                <div class="btn02" data-text="button02">
                    <span>button02</span>
                </div>
            </div>
            <div class="content">
                <div class="btn03" data-text="button03">
                    <span>button03</span>
                </div>
            </div>
        </div>
    </div>
    <div class="demo04">
        <a href="javascript:;" class="toTop" id="demo04-btn" title="回到顶部"></a>
    </div>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</body>

</html>
